<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-3x mb-2"></i>
        <h1 class="mb-5">View people's secrets or submit your own</h1>

        <div class="cards">
            <% usersWithSecrets.forEach(user=>{  %>
            <% user.secret.forEach((secret,index)=>{ %>
            <div class="box">
                <p class="secret-text mb-3"><%= secret %> </p>
                <% if (authenticatedStatus === true) { %>
                <% if (currentUser.secret.includes(secret)){ %>
                <form action="/delete/<%= index %>" method="post" class="delete">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
                <% } %>
            </div>
            <% }) %>
            <%  }) %>
        </div>

        <hr>
        <% if (authenticatedStatus === true) { %>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <% } else {  %>
        <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
        <% } %>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
        <% if (authenticatedStatus === true) { %>
        <form action="/delete-account/<%= currentUser._id %> " method="post">
            <button type="submit" class="btn btn-danger btn-lg mt-3">Delete Account</button>
        </form>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>